/Assets/
/Library/
/Logs/
/obj/
/ProjectSettings/
/Temp/
/UserSettings/
/.idea/
Assembly-CSharp.csproj
/M.csproj
/Motoyinc.RenderPipeline.Lab.Runtime.csproj
/Motoyinc.RenderPipeline.MotoyincLab.Runtime.csproj
/MTRP_Lab.sln
/Packages/manifest.json
/Packages/packages-lock.json
/Motoyinc.RenderPipeline.MotoyincLab.ShaderLibrary.csproj
/Motoyinc.RenderPipeline.MotoyincLab.Shaders.csproj
